body {
  background-image: url('../img/school-or-office-supplies-frame-on-rustic-wooden-table.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  font-family: cursive;
  font-size: 20px;
}